$terminal_green: #46704C;
$text_color: #D0D8DB;
$background: #222623;
$input_background: #BDD6BA;
$placeholder_color: #6D7375;

html, body {
    background-color: $background;
    margin: 0px;

    .header-bar {
        background-color: $terminal_green;
        border-top: 1px solid $text_color;
        border-bottom: 1px solid $text_color;
        padding-top: 20px;
        padding-bottom: 20px;

        h2, h4 {
            margin: 0px;
            text-align: center;
            line-height: 1.3em;
            color: black;
        }
    }

    .centered-div {
        margin: auto;
        width: 560px;
    }

    .centering-div {
        text-align: center;
    }

    h2, h3, h4, p {
        font-family: Courier;
        color: $text_color;
    }

    .hidden {
        display: none;
    }

    #page-container {
        padding-top: 20px;
    }

    #possible-words-container {
        padding-bottom: 20px;
        border-bottom: 1px solid $text-color;
    }

    #password-entry-fields {
        padding-top: 20px;

        .btn-holder {
            margin-top: 16px;
        }
    }

    input {
        width: 360px;
        height: 40px;
        border-radius: 10px;
        font-size: 22px;
        font-family: Courier;
        text-align: center;
        background-color: $input_background;
    }

    ::-webkit-input-placeholder {
        color: $placeholder_color;
    }

    :-moz-placeholder {
        color: $placeholder_color;
    }

    ::-moz-placeholder {
        color: $placeholder_color;
    }

    :-ms-input-placeholder {
        color: $placeholder_color;
    }

    button {
        color: $text_color;
        font-family: Courier;
        font-size: 16px;
        text-align: center;
        background-color: $background;
        border: 1px solid $text_color;
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
